<div class="container">

    <div class="row">

        <div class="col-md-5">

            <div class="row">
                <img src="{{cover}}" alt="cover">
            </div>

            <div class="row">
                <h3>{{name}}</h3> 
            </div>
            <div class="row">

                <small><button><img class="flaticon-img" src="/images/heart.svg" alt="like"></button>{{likes}}</small>
            </div>

        </div>

        <div class="col-md-7">

            <div class="row">
                <div class="col-md-6">
                    
                </div>
                <div class="col-md-6">
                    <img class="profileImg" src="{{author.profileImg}}" alt="img"> <br>
                    <a href="/artist/{{author.id}}"><small>{{author.username}}</small></a><br>
                    <small>{{author.location}}</small>
                </div>
            </div>



        </div>

    </div>

    <div class="row">

        <ul>
                {{#each songs}}

                    <div class="song-container">
                        <img src="{{cover}}" alt="song cover" class="song-cover">
                        <h3 class="song-title">{{name}}</h3>
                        <p class="song-plays">{{plays.total}} <img class="flaticon-img play-img" src="/images/play.svg" alt="like"></p>
                        <p class="song-likes">{{likes}} <img class="flaticon-img" src="/images/heart2.svg" alt="like"></p>
                        <a href="/artist/{{author.id}}" class="song-author">{{author.username}}</a>
                        <button class="play-button-like playButton" media="{{url}}" songID="{{id}}">Play</button>
                        <button class="play-button-like likeButton" media="{{url}}" songID="{{id}}">Like</button>
                    </div>
                {{/each}}
        </ul>


    </div>




</div>




<script src="/javascripts/userActions.js"></script>
<script src="/javascripts/apiHandler.js"></script>
<script src="/javascripts/likeMiddleware.js"></script>
<script src="/javascripts/playMiddleware.js"></script>
<script src="/javascripts/webplayer.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

            
            
           
        
       
             
       