<div class="container">

    {{!-- <div class="row">

        <div class="col">

            <img src="{{author.profileImg}}" alt="img">
            <h4>{{name}}</h4>
            <small>{{author.name}}</small> <small>{{likes}}</small>
        </div>
        <div class="col">

                {{#each songs}}
                    <img class="coverImg" src="{{cover}}" alt="cover">
                    <li><button type="submit" class="play-button list-button playButton" media="{{url}}">Play {{name}}</button></li>
                    <small>{{plays.total}} plays</small><small></small>
                    <small><button><img class="flaticon-img" src="/images/heart.svg" alt="like"></button>{{likes}}</small>
                    <hr>
                {{/each}}
                </ul>

        </div>

    </div> --}}


    <div class="song-container">
        <img src="{{cover}}" alt="song cover" class="song-cover">
        <h3 class="song-title">{{name}}</h3>
        <p class="song-plays">{{plays.total}}</p>
        <p class="song-likes">{{likes}}</p>
        <p class="song-author">{{author.name}}</p>
        <button class="btn btn-dark btn-block btn-lg playButton" media={{url}} songID={{id}}>Play</button>
        <button class="btn btn-dark btn-block btn-lg likeButton" media={{url}} songID={{id}}>Like</button>
    </div>


</div>

<script src="/javascripts/userActions.js"></script>
<script src="/javascripts/apiHandler.js"></script>
<script src="/javascripts/likeMiddleware.js"></script>
<script src="/javascripts/playMiddleware.js"></script>
<script src="/javascripts/webplayer.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>