<div class="container">

    <div class="row">

            <div class="col-md-3">

            <img class="profileImg" src="{{author.profileImg}}" alt="img"> <br>
            <h4>{{name}}</h4> 
            <small>{{author.name}}</small> <small>{{likes}} <img class="flaticon-img" src="/images/heart2.svg" alt="like"></small>
            

            </div>
        
    </div>

    <div class="row">

            {{#each songs}}

                <div class="col-md-4">
            
                    <div class="song-container">

                        <img src="{{cover}}" alt="song cover" class="song-cover">
                        <h4 class="song-title">{{name}}</h4>
                        <p class="song-plays">{{plays.total}} <img class="flaticon-img play-img" src="/images/play.svg" alt="like"></p>
                        <p class="song-likes">{{likes}} <img class="flaticon-img" src="/images/heart2.svg" alt="like"></p>
                        <a href="/artist/{{author.id}}" class="song-author">{{author.name}}</a>
                        <button class="play-button-like playButton" media="{{url}}" songID="{{id}}">Play</button>
                        <button class="play-button-like likeButton" media="{{url}}" songID="{{id}}">Like</button>

                    </div>

                </div>
            {{/each}}


    </div>





   


</div>

<script src="/javascripts/userActions.js"></script>
<script src="/javascripts/apiHandler.js"></script>
<script src="/javascripts/likeMiddleware.js"></script>
<script src="/javascripts/playMiddleware.js"></script>
<script src="/javascripts/webplayer.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>