{{#each allAlbums}}
        <div class="discover-card">
            <div class="row">
                <div class="col-md-4">

                    <img class= 'coverImg' src="{{cover}}" alt="Cover">
                    <p><button><img class="flaticon-img" src="/images/heart2.svg" alt="like"></button> {{likes}}</p>
                    <a class="a-buttons" href="/album/{{id}}">See more...</a>


                </div>

                <div class="col-md-8">
                    <h3>{{name}}</h3>
                    <a href="/artist/{{author.id}}"><p>{{author.username}}</p></a>
                    <small>{{genre}}</small>
                    <ul>
                        {{#each songs}}
                            <li><button type="submit" class="play-button list-button playButton" media="{{url}}">Play {{name}}</button></li>
                        {{/each}}
                    </ul>
                    
                </div>
            </div>
        </div>

{{/each}}

