{{#each allAlbums}}
        <div class="discover-card">
            <div class="row">
                <div class="col-md-4">

                    <img class= 'coverImg' src="{{cover}}" alt="Cover">
                    <p><button><img class="flaticon-img" src="/images/heart.svg" alt="like"></button> {{likes}}</p>

                </div>

                <div class="col-md-8">
                    <h3>{{name}}</h3>
                    <a href="/artist/{{id}}"><p>{{author.username}}</p></a>
                    <a href="/album/{{id}}">See more...</a>
                    <ul>
                        {{#each songs}}
                            <li><button type="submit" class="play-button list-button playButton" media="{{url}}">Play {{name}}</button></li>
                        {{/each}}
                    </ul>
                    
                </div>
            </div>
        </div>

{{/each}}

    {{!-- <button type="submit" class="btn btn-dark btn-block btn-lg playButton" media="{{halo}}">Click to Play Halo</button>             --}}
