{{#each allPlaylists}}
    <div class="row discover-card">
        

                <div class="col-md-4">
                    
                    <h3>{{name}}</h3>

                    <a href="/artist/{{author.id}}">{{author.username}}</a>
                    <p><button><img class="flaticon-img" src="/images/heart2.svg" alt="like"></button> {{likes}}</p>
                    <a class="a-buttons" href="/playlist/{{id}}">See more...</a>

                </div>
                
                <div class="col-md-8">
                    <ul>
                        {{#each songs}}
                            <li><button type="submit" class="play-button list-button playButton" media="{{url}}">Play {{name}}</button></li>
                        {{/each}}
                    </ul>
                    
                </div>
                
        

    </div>
{{/each}}