{{#each allSongs}}


<div class="song-container">
    

        <div class="row">

            <div class="col-md-3">
                    
                <img src="{{cover}}" alt="song cover" class="song-cover">

            </div>
            <div class="col-md-9">

                <h3 class="song-title">{{name}}</h3>
                <a href="/artist/{{author.id}}"><small>{{author.username}}</small></a>
                <br>
                <p class="song-genre">{{genre}}</p>

            </div>

        </div>

        <div class="row">

            <div class="col">

            <div class="row">

            <button class="play-button-like playButton" media={{url}} songID={{id}}>Play</button>
            <p class="song-plays">{{plays.total}}</p>

            </div>
            <div class="row">

                <button class="play-button-like likeButton" media={{url}} songID={{id}}>Like</button>
                <p class="song-likes">{{likes}}</p>


            </div>

            </div>



        </div>


  
 
    
    

</div>

{{/each}}


<script src="/javascripts/userActions.js"></script>
<script src="/javascripts/apiHandler.js"></script>
<script src="/javascripts/likeMiddleware.js"></script>
<script src="/javascripts/playMiddleware.js"></script>
<script src="/javascripts/webplayer.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>