<div class="container">

    <div class="row">

        <img class='profileImg' src="{{user.profileImg}}" alt="Profile Image">
        <h3>{{user.username}}</h3>

    </div>
    <div class="row">

        <p><button><img class="flaticon-img" src="/images/heart2.svg" alt="like"></button> {{user.likes}}</p>

    </div>


            <h3>Albums</h3>
    <div class="row albums-artist-row">

        {{#each albums}}
        <div class="col-md-3">
            <a href="http://damage-sound.herokuapp.com/album/{{this.id}}">
                <article class="album-container">
                    <figure class="album-cover-container"><img src="{{this.cover}}" alt="album cover" class="album-cover-img coverImg"></figure>
                    <h4 class="album-title">{{this.name}}</h4>
                </article>
            </a>
        </div>
        {{/each}}

    </div>

            <h3>Playlists</h3>
    <div class="row albums-artist-row">

        {{#each playlists}}
            <div class="col-md-3">
                <a href="http://damage-sound.herokuapp.com/playlist/{{this.id}}">
                    <article class="playlist-container">
                        <h4 class="playlist-title">{{this.name}}</h4>
                    </article>
                </a>
            </div>
        {{/each}}


    </div>

    

        <h3>Songs</h3>
        <div class="row album-artist-row">
            {{#each songs}}
            <div class="col-md-3">

                <h4 class="song-title">{{this.name}}</h4>
                <p class="song-plays">{{this.plays.total}} <img class="flaticon-img play-img" src="/images/play.svg" alt="like"></p>
                <p class="song-likes">{{this.likes}} <img class="flaticon-img" src="/images/heart2.svg" alt="like"></p>
                <button class="play-button-like"
                    media="https://res.cloudinary.com/damage-sound/video/upload/v1588010871/songs/gwdmguxrwbilyhzgknji.mp3"
                    songid="{{this.id}}">Play</button>
                <button class="play-button-like" songid="{{this.id}}">Like</button>
            
            </div>
            {{/each}}
        </div>


   








</div>





    
        


    <section class="playlists-section">

    </section>


  
</div>