<div class="profile-options">

    <section>
        <div class="profile-options-navigation">
            <nav>
                <ul class="nav-actions">
                    <li user="{{userInfo.id}}" api="playlists" id="nav-playlists">Playlists</li>
                    <li user="{{userInfo.id}}" api="albums" id="nav-albums">Albums</li>
                    <li user="{{userInfo.id}}" api="songs" id="nav-songs">Songs</li>
                    {{!-- <li user="{{userInfo.id}}" api="comments" id="nav-comments">Comments</li>
                    <li user="{{userInfo.id}}" api="followers" id="nav-followers">Followers</li>
                    <li user="{{userInfo.id}}" api="following" id="nav-following">Following</li> --}}
                    {{!-- <li user="{{userInfo.id}}" api="statistics" id="nav-statistics">Statistics</li> --}}
                </ul>
            </nav>
        </div>

        <div class="profile-info">
            <figure class="profileImg-container">
                <img class="profileImg" src="{{userInfo.profileImg}}" alt="Profile Logo">
            </figure>

            {{!-- <form method="POST" action="/profile/upload/profile-picture/{{userInfo.id}}" enctype="multipart/form-data">
                <label for="profileImg">Upload Picture</label>
                <input type="file" class="form-control-file" id="profileImg" name="profileImg">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form> --}}


            <form method="POST" action="/profile/upload/profile-picture/{{userInfo.id}}" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="imgFile">Upload a Picture</label>
                    <input type="file" class="form-control-file" id="imgFile" name="imgFile">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <article class="profileInfo-container">
                <p class="name">{{userInfo.username}}</p>
                <p class="name">{{userInfo.likes}}</p>
                <p class="name">{{userInfo.followers.total}}</p>
            </article>
        </div>

        <div class="profile-upload-song">
            <article>
                <button id="upload-song-button">Upload Song</button>
            </article>
        </div>
    </section>
</div>

<div class="profile-actions">
    {{#if approvedMsg}}
    <h3 class="approvedMsg">{{approvedMsg}}</h3>
    {{/if}}
</div>

<script src="javascripts/apiHandler.js"></script>
<script src="javascripts/likeMiddleware.js"></script>
<script src="javascripts/playMiddleware.js"></script>
<script src="javascripts/webplayer.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="javascripts/domManipulation/songContainerCreator.js"></script>
<script src="javascripts/domManipulation/profileAlbums.js"></script>
<script src="javascripts/domManipulation/profilePlaylists.js"></script>
<script src="javascripts/profileViews.js"></script>
<script src="javascripts/profileActions.js"></script>