<div class="container">

    <h1>Ranking</h1>
    <p>Best tracks on Damage Sound</p>

    <form action="/rank/likes" method="POST">
        <button type="submit" class="btn btn-rank btn-dark btn-block btn-lg">Ranking by likes</button>            
    </form>
    <form action="/rank/plays" method="POST">
        <button type="submit" class="btn btn-rank btn-dark btn-block btn-lg">Ranking by plays</button>
    </form>
    <section class="rank-content">
        
        {{#each theData}}

        <div class="song-container">
            <img src="{{cover}}" alt="song cover" class="song-cover">
            <h3 class="song-title">{{name}}</h3>
            <p class="song-plays">{{plays.total}}</p>
            <p class="song-likes">{{likes}}</p>
            <button class="btn btn-dark btn-block btn-lg playButton" media={{url}} songID={{id}}></button>
        </div>

        {{/each}}
    </section>
    
</div>  

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="javascripts/apiHandler.js"></script>
<script src="javascripts/likeMiddleware.js"></script>
<script src="/javascripts/playMiddleware.js"></script>
<script src="/javascripts/webplayer.js"></script>