<div class="container">

    <h1>Ranking</h1>
    <p>Best tracks on Damage Sound</p>

    <form action="/rank/likes" method="POST">
        <button type="submit" class="btn btn-rank btn-dark btn-block btn-lg">Ranking by likes</button>            
    </form>
    <form action="/rank/plays" method="POST">
        <button type="submit" class="btn btn-rank btn-dark btn-block btn-lg">Ranking by plays</button>
    </form>
    <section class="rank-content">
        
        {{#each theData}}

        <div class="song-container">
            h3.song-title
        </div>

            <figure>
                <img src="{{cover}}" alt="Song Image" class="img-rank">
            </figure>

            <article>
                <p><strong>Name:</strong> {{name}}</p>
                <p><strong>Likes:</strong> {{likes}}</p>
                <p><strong>Plays:</strong> {{plays.total}}</p>
                <button type="submit" class="playButton" songID="{{id}}" media="{{url}}">Click to Play</button>            
                <button type="submit" class="">Add to Playlist</button>            

            </article>

        {{/each}}
    </section>
    
</div>  

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="javascripts/apiHandler.js"></script>
<script src="javascripts/likeMiddleware.js"></script>
<script src="/javascripts/playMiddleware.js"></script>
<script src="/javascripts/webplayer.js"></script>